* {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: myFirstFont;
    src: url('dd-icon.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
/*------------------
    PreLoader 
--------------------*/
i:hover{
    text-decoration: none;
}
#preloader {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;

}

#loader {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -50px;

}

.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

#myCanvas {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 0; //margin-top: 90px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 30px;
    font-family: 'Karla', 'sans-serif';
}

.inp_lt {
    margin-bottom: 50px;
    border: 3px solid #f0f0f0;
    height: 50px;
}

.inp_rt {
    border: 3px solid #f0f0f0;
}

.custom_btn {
    border: 0px solid;
    font-family: inherit;
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;
}

body {
    overflow-x: hidden;
}

html,
body {
    font-family: 'Julius Sans One', sans-serif;
    background: #f8f8f8;
    margin: 0 auto;
    height: 100%;
}

nav ul {
    text-align: center;
    font-size: 18px;
    margin-top: 10vh;
}

nav ul li {
    display: inline-block;
    text-align: center;
    padding: 0 12px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #0DE1FF;
    text-decoration: none;
    position: relative;
    top: 1px;
}

.modal-dialog {
    border-radius: 30px;
}

.modal-header {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    background: #243447;
    color: #fff;
}

.modal-content {
    font-family: 'Roboto Condensed', sans-serif;
}

.details {
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner:focus {
    outline: none;
}

header {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    color: white;
    overflow-x: hidden;
    cursor: default;
}


#menu-icon {
    position: absolute;
    right: 10px;
    top: 20px;
    display: hidden;
    width: 40px;
    height: 40px;
    background: url(../images/menu-icon.png) center;

}

#response {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}

.jumbotron {
    background: transparent;
    position: relative;
    top: 10vh;
    margin: 0 auto;
    text-align: center;
}

.jumbotron h1 {
    text-shadow: 1px 2px #000;
    font-size: 5em;
}

.jumbotron ul li {
    padding-right: 10px;
}

.pad-btm-20 {
    padding-bottom: 20px;
}

.pad-btm-10 {
    padding-bottom: 10px;
}

.pad-btm-60 {
    padding-bottom: 60px;
}

#pointer {
    color: white;
    padding: 0px 6px;
    display: none;
    border: 2px solid white;
    border-radius: 100%;
}
#pointer:focus {
    outline: none;
    text-decoration: none;
}

/*-- social-icons --*/

ul.social li {
    display: inline-block;
}

ul.social {
    text-align: center;
}

ul.social li a i.fa {
    color: #fff;
    font-size: 15px;
    line-height: 31px;
    text-align: center;
    width: 36px;
    border: 2px solid #fff;
    border-radius: 50px;
}

ul.social li a i.fa#social-git:hover {
    background: #4078c0;
    color: white;
    border: 2px solid #4078c0;

}

ul.social li a i.fa#social-fb:hover {
    color: white;
    background: #3B5998;
    border: 2px solid #3B5998;
}

ul.social li a i.fa#social-linkedin:hover {
    color: white;
    background: #0077B5;
    border: 2px solid #0077B5;
}

ul.social li a i.fa#social-google:hover {
    color: white;
    background: #d34836;
    border: 2px solid #d34836;
}

/*-- //social-icons --*/

#about {
    padding: 80px 20px;
}

#about > h1,
#projects h1,
#qualification h1,
#contact h1 {
    font-size: 50px;
    padding: 10px;
    margin: 0 0 50px 0;
    border-radius: 150px;
    background: #0077B5;
    color: white;
    font-weight: bold;

}

#about i {
    font-weight: bold;
    margin: 60px 0;


}

.about_con a i {
    color: #555;
}

.about_con a i.facebook:hover {
    color: #3b5998;
}

.about_con a i.gmail:hover {
    color: #dd4b39;
}

.about_con a i.phone:hover {
    color: #007bb5;
}

#about i {
    // padding-left: 20px;
    position: relative;
    left: 50%;
    margin-left: -20px;
}

#about p {
    font-size: 18px;
    margin: 20px 0;
    font-family: 'Karla', sans-serif;
}

#art2 {
    background: url(../images/header2.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
}

#art2 h1 {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 40px;
}

#art2 h3 {
    color: white;
    font-weight: bold;
    padding-bottom: 10px;

}

#art2 p {
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 15px;

}

#qualification {
    padding: 80px 20px;
}

.qual {
    background: #efefef;
    border: 1px solid #1E88E5;
    margin: 30px 0;
}

.edu h2 {
    font-size: 35px;
    padding: 5px;
    font-family: 'Play', sans-serif;
    font-weight: bolder;
}

.edu h3 {
    font-weight: bold;
}

.edu p {
    font-size: 18px;
}

.edu1 h2 {
    font-size: 35px;
    padding: 5px;
    font-family: 'Play', sans-serif;
    font-weight: bolder;
}

.edu1 h3 {
    font-weight: bold;
}

.edu1 p {
    font-size: 18px;
}

.edu1 {
    padding: 15px;
}

.edu {
    padding: 15px;
    border-bottom: 1px solid #1E88E5;
}

#projects {
    padding: 80px 10px;
    background: #f0f0f0;
}

#projects h3 {
    padding: 25px 0 15px 0;
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.box a h3 {
    color: black;
    font-size: 30px;
}

hr {
    margin: 0;
}

.box a:hover {
    text-decoration: none;
}

.box a #mb:hover {
    color: rgb(227, 179, 77);
}

.box a #qa:hover {
    color: #40a79b;
}

.box a #prp:hover {
    color: #09304b;
}

#projects p {
    padding: 10px 15px;
    margin: 0;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}

.box h5 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0;
    text-align: center !important;

    font-weight: bold;
}

.box #movies span {
    background: rgba(227, 179, 77, 0.9);
    padding: 8px;
}

.box #mbapp span {
    background: rgba(0, 0, 0, 0.9);
    padding: 8px;
    color: white;
}

.box #cse span {
    background: rgba(0, 0, 0, 0.9);
    padding: 8px;
    color: white;
}

.box #bounce span {
    background: rgba(104, 173, 3, 0.9);
    padding: 8px;
    color: white;
}

.box #quake span {
    background: rgba(64, 167, 155, 0.9);
    padding: 8px;
    color: white;
}

.box {
    padding-bottom: 10px;

}

.main-box {
    padding: 20px 10px;

}

#contact {
    padding: 80px 10px;
}

footer {
    background: #1b2830;
    border-top: 40px solid #15232c;
    border-bottom: 40px solid #15232c;
    width: 100%;
    padding: 60px 10px 10px 10px;
    color: white;
    text-align: center;
    font-family: 'Karla', 'sans-serif';
    overflow: hidden;
}

footer p {
    text-align: center;

}

footer h2 {
    font-family: 'Julius Sans One', sans-serif;
}

footer a i {
    color: white;
    margin: 30px 5px 15px 5px;
    padding: 10px 0;
    background: #46687C;
    border: 1.5px solid #111c22;
    border-radius: 50px;
    width: 38px;
}

footer a i.f-fb:hover {
    background: #3B5998;
    border: 1.5px solid #3B5998;
}

footer a i.f-lin:hover {
    background: #0077B5;
    border: 1.5px solid #0077B5;
}

footer a i.f-gp:hover {
    background: #d34836;
    border: 1.5px solid #d34836;
}

footer i {
    border: 1.5px solid #111c22;
    border-radius: 50px;
    width: 55px;
    padding: 5px 0;
    background: #46687C;
    margin: 15px 5px 15px 5px;
}

footer i.f-gmail {
    border: 1.5px solid #111c22;
    border-radius: 50px;
    width: 55px;
    font-size: 30px;
    padding: 12px 0;
    background: #46687C;
    margin: 15px 5px 15px 5px;
}

footer ul {
    list-style: none;
    color: white;
}

footer ul li a {
    color: white;
    font-size: 16px;

}

footer ul li a:hover {
    color: #71A7C9;
    text-decoration: none;
    position: relative;
    top: 1px;
}

footer ul li {
    display: inline-block;

}

#scroll {
    position: fixed;
    top: 90%;
    left: 95%;
    z-index: 4;
}

#scroll i {
    color: white;
    padding: 15px 18px;
    background: rgb(70, 104, 124);
    border-radius: 50px;
}

@media only screen and (max-width:1920px) and (min-width:1367px) {
    #art2 {
        background: url(../images/header2.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 100px;
    }
}

@media only screen and (max-width:1366px) and (min-width:768px) {

    #art2 {
        background: url(../images/header2_768.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 80px;
    }
    .jumbotron h1 {
	font-size: 4.8em;
}
    #scroll {
        position: fixed;
        top: 90%;
        left: 92%;
        z-index: 4;
    }
    #menu-icon {
        display: none;
    }

}

@media only screen and (max-width:767px) and (min-width:627px) {
     #menu-icon {

        display: inline-block;
        float: right;

    }
     nav ul,
    nav:active ul {

        display: none;
        position: absolute;
        padding: 20px;
        background: #544b40;
        border: 5px solid #2f2c27;
        right: 10px;
        top: 0px;
        width: 50%;
        border-radius: 4px 0 4px 4px;


    }

    nav li {

        text-align: center;
        width: 100%;
        font-size: 18px;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {
        display: block;
    }
    .jumbotron {
	top:5vh;
}
    .jumbotron h1{
	font-size: 4.5em;
}
    #about p {
        font-size: 18px;
        padding: 5px;
        font-family: 'Karla', sans-serif;
    }
    #art2 {
        background: url(../images/header2_mob.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 80px;
    }
    #art2 h1 {
        color: white;
        font-size: 30px;
        font-weight: bolder;
    }
    #art2 h3 {
        font-size: 20px;
        color: #ffffff;
        font-weight: bolder;

    }
    #art2 p {
        color: white;
        font-family: 'Karla', sans-serif;
        font-size: 15px;

    }
    #scroll {
        position: fixed;
        top: 90%;
        left: 85%;
        z-index: 4;
    }


}

@media only screen and (max-width:626px) and (min-width:489px) {
    #menu-icon {

        display: inline-block;
        float: right;

    }
    .jumbotron {
	top: 5vh;
}
    .jumbotron h1 {
        font-size: -webkit-xxx-large;
    }
    nav ul,
    nav:active ul {

        display: none;
        position: absolute;
        padding: 20px;
        background: #544b40;
        border: 5px solid #2f2c27;
        right: 10px;
        top: 0px;
        width: 50%;
        border-radius: 4px 0 4px 4px;


    }

    nav li {

        text-align: center;
        width: 100%;
        font-size: 18px;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {
        display: block;
    }
    #about p {
        font-size: 18px;
        padding: 5px;
        font-family: 'Karla', sans-serif;
    }
    #art2 {
        background: url(../images/header2_mob.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 80px;
    }
    #art2 h1 {
        color: white;
        font-size: 30px;
        font-weight: bolder;
    }
    #art2 h3 {
        font-size: 20px;
    }
    #art2 p {
        color: white;
        font-family: 'Karla', sans-serif;
        font-size: 15px;
        margin: 0;

    }
    #scroll {
        position: fixed;
        top: 90%;
        left: 85%;
        z-index: 4;
    }

}

@media only screen and (max-width:488px) and (min-width:360px) {

    .jumbotron h1 {
        font-size: -webkit-xxx-large;
    }
    .jumbotron {
	top: 1vh;
}
    nav ul,
    nav:active ul {

        display: none;
        position: absolute;
        padding: 20px;
        background: #544b40;
        border: 5px solid #2f2c27;
        right: 10px;
        top: 0px;
        width: 50%;

        border-radius: 4px 0 4px 4px;


    }

    nav li {

        text-align: center;
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {

        display: block;

    }
    #about p {
        font-size: 18px;
        padding: 5px;
        font-family: 'Karla', sans-serif;
    }
    #art2 {
        background: url(../images/header2_mob.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 80px;
    }
    #art2 h1 {
        color: white;
        font-size: 30px;
        font-weight: bolder;
    }
    #art2 h3 {
        font-size: 20px;

    }
    #art2 p {
        color: white;
        font-family: 'Karla', sans-serif;
        font-size: 15px;
        margin: 0;

    }
    #about h1,
    #projects h1,
    #qualification h1,
    #contact h1 {
        font-size: 35px;
        padding: 20px;
        margin-bottom: 50px;
        font-weight: bold;
    }
    #scroll {
        position: fixed;
        top: 90%;
        left: 85%;
        z-index: 4;
    }


}

@media only screen and (max-width:359px) {
    header {
        background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../images/header_mobsm.jpg);
        width: 100%;
    }

    #menu-icon {

        display: inline-block;
        float: right;
    }
    .jumbotron h1 {
        font-size: -webkit-xxx-large;
    }
    nav ul,
    nav:active ul {

        display: none;
        position: absolute;
        background: #544b40;
        border: 5px solid #2f2c27;
        padding: 20px;
        right: 10px;
        top: 0px;
        width: 50%;

        border-radius: 4px 0 4px 4px;


    }

    nav li {

        text-align: center;
        width: 100%;
        font-size: 12px;
        padding: 10px 0;
        margin: 0;

    }

    nav:hover ul {

        display: block;

    }
    #about p {
        font-size: 15px;
        padding: 5px;
        font-family: 'Karla', sans-serif;
    }
    #art2 {
        background: url(../images/header2_mob.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 80px;
    }
    #art2 h1 {
        color: white;
        font-size: 30px;
        font-weight: bolder;
    }
    #art2 h3 {
        font-size: 20px;
        padding: 0;

    }
    #art2 p {
        color: white;
        font-family: 'Karla', sans-serif;
        font-size: 15px;
        margin: 0;

    }
    #about h1,
    #qualification h1,
    #projects h1,
    #contact h1 {
        font-size: 25px;
        padding: 20px;
        margin-bottom: 50px;
        font-weight: bold;

    }
    #scroll {
        position: fixed;
        top: 90%;
        left: 85%;
        z-index: 4;
    }
    .jumbotron {
	top:5vh;
}

}
